body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(231, 235, 235);
  height: 100%;
}

/* Header */

header {
  background: white;
  height: 5em;
  position: fixed;
  width: 100%;
  position: relative;
}

.flex-searchbar, 
.flex-container, 
.flex-btn, 
.flex-img {
  margin:  auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  height: 5em;
  align-content: flex-end;
} 

.flex-searchbar {
  display: block;
}

img {
  height: 2.5em;
}


#textbox {
  width: 400px;
  height: 30px;
}

.flex-btn {
  display: inline;
}

.btn {
  border-radius: 10px;
  width: 10em;
  height: 2.5em;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

#btnBlue {
  background: blue;
  color: white;
  margin-right: 1em;
  opacity: .9;
}

#btnWhite {
  color: blue;
}

/* Trending */

.flex-trending {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  background-color: azure;
  width: 15em;
  height: 15em;
}

.card-container  {
  width: 80%;
  max-width: 1050px;
  margin: 0 auto;
}

.card-container > h2 {
  margin-bottom: 0;
  opacity: .9;
}